

.stock-component {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    column-gap: 1.5em;
    padding: 0 2em;;
}

.sc-center {
    padding-top: 2em;
}

.stock-info-topbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1em
}

.sit-logo {
    /* background-color: #dfdfdf; */
    height: 70px !important;
    width: 70px !important;
}

.sit-tit-container {
    padding: 0 1em;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.sit-tit-text {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.sit-price-container {
    padding-right: 1em;
}

.sit-price-text {
    font-size: 25px;
    font-weight: 700;
}

.sit-change-container {
    
}

.sit-change-text {
    font-size: 16px;
    /* color: #39BE6E; */
    color: #888888;
    font-weight: 700;
}

.sit-actions-container {
    padding: 0 1em;
    display: flex;
}

.sit-action-btn {
    margin-right: 1em;
}

.company-pnc-container {
    display: flex;
}

.company-profile-container {
   width: 50%; 
}

.company-chart-container {
    width: 50%;
}

.cp-title-bar {
    background-color: #f6f6f6;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.cp-data-container {

}

.cp-data-row {
    display: flex;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 0;
}

.cp-dr-l {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
    border-right: 1px solid #dfdfdf;
}

.cp-dr-l {
    width: 50%;
}