

.stock-component {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    column-gap: 1.5em;
    padding: 0 2em;;
}

.sc-center {
    padding-top: 2em;
}

.stock-info-topbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1em
}

.sit-logo {
    /* background-color: #dfdfdf; */
    height: 70px !important;
    width: 70px !important;
}

.sit-tit-container {
    padding: 0 1em;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.sit-tit-text {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.sit-price-container {
    padding-right: 1em;
}

.sit-price-text {
    font-size: 25px;
    font-weight: 700;
}

.sit-change-container {
    
}

.sit-change-text {
    font-size: 16px;
    /* color: #39BE6E; */
    color: #888888;
    font-weight: 700;
}

.sit-actions-container {
    padding: 0 1em;
    display: flex;
}

.sit-action-btn {
    margin-right: 1em;
}

.company-pnc-container {
    display: flex;
    margin-top: 2em;
}

.company-profile-container {
   width: 50%; 
}

.company-chart-container {
    width: 50%;
}

.cp-title {
    font-weight: 500;
    font-size: 20px;
}

.cp-title-bar {
    background-color: #f6f6f6;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.cp-data-container {

}

.cp-data-row {
    display: flex;
    border-bottom: 1px solid #dfdfdf;
}

.cp-dr-l {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    border-right: 1px solid #dfdfdf;
}

.cp-dr-r {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    justify-content: space-between;
}

.data-row-title {
    color: #646373;
    font-size: 12px;
}

.data-row-value {
    color: #000;
    font-size: 12px;
    font-weight: 700;
}

.company-description-container {
    margin-top: 2em
}

.company-description-title {
    font-weight: 500;
    font-size: 20px;
}

.company-description-body {
    margin-top: 1em;
}

.company-description {
    font-size: 14px;
    font-weight: 500;
    color: #606060;
}

.company-metrics-container {
    margin-top: 2em

}

.company-metrics-title {
    font-weight: 500;
    font-size: 20px;
}

.cm-card-container {
    margin-top: 2em

}

.company-metrics-row {

}

.cmr-l {
    width: 50%;
}

.cmr-r {
    width: 50%;
}

.cm-card {
    border: 1px solid #dfdfdf;
}

.cm-card-title-row {
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    padding-left: 1em;
}


.cm-card-title {
    font-weight: 500;
}

.cm-card-header-row {
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em
}

.cm-card-metric-row {
    height: 40px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em
}