



.coming-soon {

}

.coming-soon-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.coming-soon-pigeon {
    width: 100px;
    height: 100px;
    /* background-image: url('../../assets/images/carrier_pigeon_w_payload_silhouette_1.svg');  */
    background-size: cover;
}

.tfi-text {
    font-size: 25px;
    font-weight: 500;
}

.otw-text {
    font-size: 75px;
    font-weight: 500;
    color: #1890FF
}

.cptip-text {
    font-size: 25px;
    font-weight: 300;
    color: #545454
}