

.header {
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
}

.hc-left {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-container:hover {
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    /* CSS rules for extra large devices like large desktops and TVs */

    .wvi-icon-dark {
        background-image: url('../../public/images/WVI_logo_transparent_dark_xsmall.png'); 
        background-size: cover;
        height: 50px;
        width: 90px;
    }

    .wvi-logo-text {
        font-size: 20px;
        font-weight: 500;
        margin-left: 10px;
    }

    .wvi-beta-text {
        font-size: 10px;
        font-weight: 300;
        margin-left: 10px;
    }

    .hc-parent-menu-title {

    }
}


@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS rules for large devices like desktops and large laptops */

    .wvi-icon-dark {
        background-image: url('../../public/images/WVI_logo_transparent_dark_xsmall.png'); 
        background-size: cover;
        height: 50px;
        width: 90px;
    }

    .wvi-logo-text {
        font-size: 16px;
        font-weight: 500;
        margin-left: 10px;
        white-space: nowrap;
    }

    .wvi-beta-text {
        font-size: 8px;
        font-weight: 300;
        margin-left: 10px;
    }

    .hc-parent-menu-title {
        font-size: 12px;
    }

    .hc-menu-item {
        font-size: 12px;
    }

    .dropdown-content a {
        color: black;
        padding: 4px 8px !important;
        text-decoration: none;
        display: block;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* CSS rules for medium devices like tablets and small laptops */

    .wvi-icon-dark {
        background-image: url('../../public/images/WVI_logo_transparent_dark_xsmall.png'); 
        background-size: cover;
        height: 50px;
        width: 90px;
    }

    .wvi-logo-text {
        /* font-size: 16px;
        font-weight: 500;
        margin-left: 10px;
        white-space: nowrap; */
        display: none;
    }

    .wvi-beta-text {
        /* font-size: 8px;
        font-weight: 300;
        margin-left: 10px; */
        display: none;
    }

    .hc-parent-menu-title {
        font-size: 12px;
    }

    .hc-menu-item {
        font-size: 12px;
    }

    .dropdown-content a {
        color: black;
        padding: 4px 8px !important;
        text-decoration: none;
        display: block;
        white-space: nowrap;
    }

}



/* default logo styles before screen sizing formatting */
/* .wvi-icon-dark {
    background-image: url('../../public/images/WVI_logo_transparent_dark_xsmall.png'); 
    background-size: cover;
    height: 50px;
    width: 90px;
}

.wvi-logo-text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px
}

.wvi-beta-text {
    font-size: 10px;
    font-weight: 300;
    margin-left: 10px;
} */


.hc-parent-menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 10px;
    position: relative;
}

.hc-parent-menu:hover {
    cursor: pointer;
}

.hc-parent-menu:hover .dropdown-content {
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

.hc-mi-caret {
    margin-left: 10px;
    margin-top: 3px;
}

.hc-right {
    display: flex;
}

.login-btn {
    all: unset;
    border: 1px solid #1890FF;
    border-radius: 5px;
    padding: 3px 20px;
}

.login-btn:hover {
    cursor: pointer;
}

.login-btn-text {
    font-size: 12px;
}

.hc-login-item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px
}

/* Keyframes for fade-in and scroll-up animation */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Start the dropdown right below the menu item */
    left: 0; /* Align it with the left edge of the menu item */
    opacity: 0; /* Initialize with opacity 0 for fade-in effect */
    /* Apply the animation */
    animation: fadeInUp 0.3s ease forwards;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-panel {
    display: flex;
    flex-direction: row;
}

.dp-col {
    border-left: 1px solid #dfdfdf
}