



.index-data-card {
    width: 250px;
    max-width: 250px;
    height: 75px;
    /* border: 1px solid #dfdfdf; */
    display: flex;   
    justify-content: space-between;
}

.idc-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.idc-l-top {
    display: flex;
}

.idc-l-bottom {
    display: flex;
    margin-left: 10px;
}


.idc-right {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 1200px) {
    /* CSS rules for extra large devices like large desktops and TVs */
  
    
    .index-title {
        font-size: 20px;
        color: #686868;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 10px;
    }

    .index-display-price {
        font-size: 13px;
        color: #686868;
        margin-left: 0.5em;
        margin-top: 3px
    }

    .change-text {
        color: #686868;
        font-weight: 500;
        font-size: 16px;
    }

}


@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS rules for large devices like desktops and large laptops */
  
    .index-title {
        font-size: 16px !important;
        color: #686868;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 10px;
    }

    .index-display-price {
        font-size: 10px !important;
        color: #686868;
        margin-left: 0.5em;
        margin-top: 3px
    }

    .change-text {
        color: #686868;
        font-weight: 500;
        font-size: 12px;
    }

}
  

.index-title {
    font-size: 20px;
    color: #686868;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.index-display-price {
    font-size: 13px;
    color: #686868;
    margin-left: 0.5em;
    margin-top: 3px
}

.change-text {
    color: #686868;
    font-weight: 500;
}

.chart {
    height: 60px;
    width: 60px;
    /* border: 1px solid #dfdfdf; */
    margin: 5px
}

.change-up {
    color: #39BE6E !important;
    font-weight: 500;
}

.change-down {
    color: #F61E1E !important;
    font-weight: 500;
}