




.news-section {
    padding-top: 20px;
}

.news-section-category-bar {
    display: flex;
}

.ns-category-title {
    color: #686868;
    font-weight: 500;
    white-space: nowrap;
}

.nsc-divider-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 20px
}

.nsc-divider {
    border-top: 1px solid #dfdfdf;
    width: 100%;
}

.ns-main-story {
    display: flex;
    padding: 1em 1em;
    height: 250px;
}

.ns-main-story:hover {
    cursor: pointer;
}

.ns-ms-image {
    width: 300px;
    height: 250px;
    /* background-color: #f1f1f1; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfdfdf
}

.ns-ms-r {
    padding: 0 1em;
    position: relative;
    height: 100% ;
}

.ms-title {
    font-size: 30px;
    font-weight: 500;
}

.main-story-title-container {
    max-height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines after which text should be truncated */
}

.main-story-description-container {
    flex-grow: 1;
    max-height: 50%;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Number of lines after which text should be truncated */


}

.ms-description {
    font-size: 15px;
    color: #656565;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-story-date-container {
    position: absolute;
    bottom: 0;
}

.ms-date-text {
    color: #515151;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-news-title {
    font-weight: 500;
    font-size: 12px;
    color: #686868
}

.more-news-title-container {
    margin: 1em;
}

.more-stories-container {
    margin: 1em;
}

.sr-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    /* background-color: #f0f0f0; */
    border: 1px solid #dfdfdf;
}

.story-row {
    display: flex;
    width: 100%;
    max-width: 100%;
    max-height: 120px;
}

.story-row:hover {
    cursor: pointer;
    background-color: #efefef4e;
}

.sr-l {
    padding: 0.5em 0;
}

.sr-r {
    padding: 0.5em;
    /* width: 100%; */
}

.sr-r-t {
    display: flex;
    justify-content: space-between;
}

.story-row-title {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.story-row-date {
    font-size: 16px;
    font-weight: 500;
    color: #515151;
}

.sr-r-b {
    margin-top: 0.5em;
}

.story-row-description {
    color: #616161;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines after which text should be truncated */

}