





@media only screen and (min-width: 1200px) {
    /* CSS rules for extra large devices like large desktops and TVs */

    .ns-main-story {
        display: flex;
        padding: 1em 1em;
        height: 250px !important;
    }

    .ns-ms-image {
        width: 300px !important;
        height: 250px !important;
        /* background-color: #f1f1f1; */
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dfdfdf
    }
        
    .ms-title {
        font-size: 25px !important;
        font-weight: 500;
    }

    .ms-description {
        font-size: 15px !important;
        color: #656565;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        
    .main-story-description-container {
        flex-grow: 1;
        max-height: 50%;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5 !important; /* Number of lines after which text should be truncated */
    }

}
  
  
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS rules for large devices like desktops and large laptops */
  
    .ns-main-story {
        display: flex;
        padding: 1em 1em;
        height: 170px !important;
    }

    .ns-ms-image {
        width: 200px !important;
        height: 170px !important;
        /* background-color: #f1f1f1; */
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dfdfdf
    }

    .ms-title {
        font-size: 20px !important;
        font-weight: 500;
    }

    .ms-description {
        font-size: 12px !important;
        color: #656565;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ms-date-text {
        color: #515151;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px !important;
    }

    .main-story-description-container {
        flex-grow: 1;
        max-height: 50%;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4 !important; /* Number of lines after which text should be truncated */
    }

    .story-row-title {
        font-size: 14px !important;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .story-row-date {
        font-size: 14px !important;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #515151;
    }
    
    .story-row-description {
        font-size: 12px !important;
        color: #616161;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; 
    }

}
  
  
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* CSS rules for medium devices like tablets and small laptops */
  
    .ns-main-story {
        display: flex;
        padding: 1em 1em;
        height: 120px !important;
    }

    .ns-ms-image {
        width: 150px !important;
        height: 120px !important;
        /* background-color: #f1f1f1; */
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dfdfdf
    }

    .ms-title {
        font-size: 16px !important;
        font-weight: 500;
    }

    .ms-description {
        font-size: 10px !important;
        color: #656565;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ms-date-text {
        color: #515151;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px !important;
    }

    .main-story-description-container {
        flex-grow: 1;
        max-height: 50%;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3 !important; /* Number of lines after which text should be truncated */
    }

    .story-row-title {
        font-size: 12px !important;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .story-row-date {
        font-size: 12px !important;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #515151;
    }
    
    .story-row-description {
        font-size: 10px !important;
        color: #616161;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4 !important; 
    }

}
  
  
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* CSS rules for small devices like large phones and small tablets */
  
}
  
  
@media only screen and (max-width: 575.98px) {
    /* CSS rules for extra small devices like mobile phones */
  
}


.ns-ms-image {
    width: 300px;
    height: 250px;
    /* background-color: #f1f1f1; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfdfdf
}

.ms-title {
    font-size: 30px;
    font-weight: 500;
}

.ns-main-story {
    display: flex;
    padding: 1em 1em;
    height: 250px;
}

.ms-description {
    font-size: 15px;
    color: #656565;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-date-text {
    color: #515151;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-story-description-container {
    flex-grow: 1;
    max-height: 50%;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Number of lines after which text should be truncated */
}

.story-row-title {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.story-row-date {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #515151;
}

.story-row-description {
    color: #616161;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
}

.news-section {
    padding-top: 20px;
}

.news-section-category-bar {
    display: flex;
}

.ns-category-title {
    color: #686868;
    font-weight: 500;
    white-space: nowrap;
}

.nsc-divider-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 20px
}

.nsc-divider {
    border-top: 1px solid #dfdfdf;
    width: 100%;
}

.ns-main-story-anchor {
    all:unset
}

.ns-main-story:hover {
    cursor: pointer;
}

.ns-ms-r {
    padding: 0 1em;
    position: relative;
    height: 100% ;
}

.main-story-title-container {
    max-height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines after which text should be truncated */
}

.main-story-date-container {
    position: absolute;
    bottom: 0;
}

.more-news-title {
    font-weight: 500;
    font-size: 12px;
    color: #686868
}

.more-news-title-container {
    margin: 1em;
}

.more-stories-container {
    margin: 1em;
}

.sr-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    /* background-color: #f0f0f0; */
    border: 1px solid #dfdfdf;
}

.story-row {
    display: flex;
    width: 100%;
    max-width: 100%;
    max-height: 120px;
    box-sizing: border-box;
}

.story-row:hover {
    cursor: pointer;
    background-color: #efefef4e;
}

.story-row-anchor {
    all: unset;
}

.sr-l {
    padding: 0.5em 0;
}

.sr-r {
    padding: 0.5em;
    overflow-x: auto;
}

.sr-r-t {
    display: flex;
    justify-content: space-between;
}

.sr-r-b {
    margin-top: 0.5em;
}


