


.ticker-banner {
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
}

.banner-rail {
    display: flex;
}

.ticker-skeleton {
    /* width: 100%; */
    all: unset
}

.banner-skeleton {
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 20px;
    width: 100px;
}

.bi-info-text {
    font-weight: 500;
    color: #787878;
    white-space: nowrap;
}

.bi-change-down-text {
    font-weight: 500;
    color: var(--red-one);
    margin-left: 10px
}

.bi-change-text {
    font-weight: 500;
    margin-left: 10px
}

.bi-change-up-text {
    font-weight: 500;
    color: var(--green-one);
    margin-left: 10px
}


#scroll-container {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

#scroll-text {
    display: flex;
    animation: moveItems 100s linear infinite;
}

.item {
    flex: none; /* Prevents flex items from growing or shrinking */
    margin-right: 20px; /* Space between items */
    /* Add more styling as needed */
}

@keyframes moveItems {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 1200px) {
    /* CSS rules for extra large devices like large desktops and TVs */
    
    .banner-item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 5px;
        padding: 0 10px;
        flex: none; /* Prevents flex items from growing or shrinking */
        margin-right: 20px; /* Space between items */
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS rules for large devices like desktops and large laptops */
    
    .banner-item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 5px;
        padding: 0 10px;
        flex: none; /* Prevents flex items from growing or shrinking */
        margin-right: 20px; /* Space between items */
        font-size: 12px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* CSS rules for medium devices like tablets and small laptops */
    .banner-item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 5px;
        padding: 0 10px;
        flex: none; /* Prevents flex items from growing or shrinking */
        margin-right: 20px; /* Space between items */
        font-size: 10px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* CSS rules for small devices like large phones and small tablets */
    .banner-item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 5px;
        padding: 0 10px;
        flex: none; /* Prevents flex items from growing or shrinking */
        margin-right: 20px; /* Space between items */
        font-size: 10px;
    }
}
  
  
@media only screen and (max-width: 575.98px) {
    /* CSS rules for extra small devices like mobile phones */
  
}
  

.banner-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 5px;
    padding: 0 10px;
    flex: none; /* Prevents flex items from growing or shrinking */
    margin-right: 20px; /* Space between items */
}