


@media only screen and (min-width: 1200px) {
  /* CSS rules for extra large devices like large desktops and TVs */

  .latest-news-title {
    font-weight: 500;
    font-size: 30px !important;
  }

}


@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS rules for large devices like desktops and large laptops */

  .latest-news-title {
    font-weight: 500;
    font-size: 25px !important;
  }

}


@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* CSS rules for medium devices like tablets and small laptops */

  .homepage-body {
    padding: 0 50px;
    display: flex;
    padding-top: 30px;
  }

}


@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* CSS rules for small devices like large phones and small tablets */

  .homepage-body {
    padding: 0 50px;
    display: flex;
    padding-top: 30px;
  }

}


@media only screen and (max-width: 575.98px) {
  /* CSS rules for extra small devices like mobile phones */

  .homepage-body {
    padding: 0 10px !important;
    display: flex;
    flex-direction: column !important;
    padding-top: 30px;
  }

  .hpb-l {
    width: 100% !important;
  }
  
  .hpb-l-title-container {
    width: 100% !important;
    margin-top: 20px;
  }
  
  .hpb-r {
    width: 100% !important;
    border-left: 1px solid #dfdfdf;
    padding-left: 2em;
    padding-top: 2em;
  }

}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.latest-news-title {
  font-weight: 500;
  font-size: 30px;
}

.homepage-body {
  padding: 0 100px;
  display: flex;
  padding-top: 30px;
}

.hpb-l {
  width: 70%;
}

.hpb-l-title-container {
  width: 70%;
  margin-top: 20px;
}

.hpb-r {
  width: 30%;
  border-left: 1px solid #dfdfdf;
  padding-left: 2em;
  padding-top: 2em;
}