




.insider-tx-component {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    column-gap: 1.5em;
    padding: 0 2em;;
}

.itxc-center {
    display: flex;
    flex-direction: column;
}

.itxc-topbar{
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.itxc-topbar-title-container {

}

.itxc-topbar-title {
    
}

.itxc-tb-btn-anchor {
    all: unset
}

.itxc-tb-btn {
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 0 5px;
    padding: 0 5px;
}

.itxc-tb-btn:hover {
    cursor: pointer;
}

.tb-btn-txt {

}



.insider-tx-filing-component {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    column-gap: 1.5em;
    padding: 0 2em;;
}

.itxfc-center {
    display: flex;
    flex-direction: column;
}

.itxfc-topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #D8D8D8;
}

.itxfc-topbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.itxfc-tc-left {
    display: flex;
    align-items: center;
}

.itxfc-tc-right {
    display: flex;
    align-items: center;
}

.itxfc-tc-left-logo {
    height: 100px;
    width: 100px;
}

.itxfc-tc-left-logo svg{
    height: 60px;
    width: 60px;
}

.itxfc-tc-left-title {
    font-size: 20px;
    font-weight: 600;
}

.itxfc-tcr-btn {
    margin-right: 0.5em
}

.itxfc-filing-details-container {
    margin-top: 2em
}

.itxfc-fd {

}

.itxfc-fd-tb {
    background-color: #F6F6F6;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.itxfc-fd-tb-title {
    font-size: 20px;
    font-weight: 500;
}

.itxfc-fd-info-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    gap: 1px; /* Gap between rows and columns */
    background-color: #dcdcdc; /* Background color that acts as the border color */
    padding: 1px; /* Ensures the outer border is visible */
}

.itxfc-grid-item {
    background-color: white; /* Background color of each item */
    padding: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #F6F6F6;  */
}

/* Removes the border between items horizontally */
.itxfc-grid-item:nth-child(odd) {
    border-right: none;
}
.itxfc-grid-item:nth-child(even) {
    border-left: none;
}

.itxfc-grid-item-label {
    font-size: 14px;
    color: #626262;
    font-weight: 500;
}

.itxfc-grid-item-value {
    font-size: 14px;
    font-weight: 700;
}

.non-derivative-table-container {
    margin-top: 2em;
}

.derivative-table-container {
    margin-top: 2em;
}